 ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, div.paragraph, blockquote, fieldset, input { margin: 0; padding: 0; }
 ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input { margin: 0; padding: 0; }
 ul { list-style: none; }
 fieldset { border: 0; }
 a img { border: 0; }
 .clear { clear: both; }
 body { background: #f7f7f7 url(/img/bodybg.jpg?196561) repeat-x; font-family: LucidaSans, arial, sans-serif; font-size: 12px; color: #666666; height: 100%; margin: 0; padding: 0; }
 a { color: #5e9bd7; text-decoration: none; }
 /*a:hover { color: #336ba2; }*/
 div.paragraph, blockquote { line-height: 1.5; color: #666666; font-size: 14px; padding: .5em 0; }
 p, blockquote { line-height: 1.5; color: #666666; font-size: 14px; padding: .5em 0; }
 h1 { font-size: 30px; color: #333333; line-height: 1.5; padding: 5px 0 5px 0; }
 hr {background:#ccc !important; box-shadow:0 1px 0 white;}
 h2 { font-size: 24px; color: #333333; font-weight: normal; line-height: 1.5; padding: .4em 0 .2em; }
 blockquote { font-style:italic; border-left:4px solid #ccc; margin:10px 0 10px 0; padding-left:20px; line-height:1.5; color:#888; }
 #wrapper { margin: 10px; }
 #header { bottom no-repeat; }
 #logo { font-size: 36px; margin: 0 0 10px 18px; }
 #logo, #logo a { color: #666; }
 #content {   margin: 20px; height: auto !important; min-height: 700px; border-left: 1px solid #d3d3d3; border-right: 1px solid #d3d3d3; background: #ececec url(/img/contentbg.jpg?196561) repeat-x; padding: 15px 18px 25px 18px; }
 #banner { width: 921px; padding: 7px 0 10px 0; z-index: 1; margin: 12px 0 5px 0; }
 #navigation { position: relative; height: 38px; z-index: 2;     font-size: 22px;}
 #navigation li { float: left; height: 38px; z-index: 2; padding: 0 18px 0 23px; }
 #navigation li a { display: inline-block; height: 25px; color: #666666; z-index: 2; padding: 12px 0 0 0; font-size: 14px; text-decoration: none; }
 #wsite-menus .wsite-menu li a { background: #f5f5f5; border-top: none; border-bottom: 1px solid #cccccc; border-right: 1px solid #cccccc; border-left: 1px solid #cccccc; padding: 8px 6px 8px 12px; color: #666666; }
 #wsite-menus .wsite-menu li:first-child { border-op: 1px solid #cccccc; }
 #header { width: 100%; height: 100px; }
 #header, #header table { border-collapse: collapse; border-spacing: 0; }
 #header td { vertical-align: middle; text-align: left; }
 #logo { padding: 25px 0 25px 20px; }
 #header-right { padding: 0 20px 0 10px; }
 #header-right table { width: 1px; }
 #header-right table, #header-right .search, #header-right .wsite-search { clear: right; float: right; }
 #header-right td { padding: 0; }
 #header-right .phone-number .wsite-text { color: #666; font-size: 14px; font-weight: bold; padding: 0; display: block; white-space: nowrap; margin: 6px 0 6px 10px; }
 #header-right .social { font-size: 14px; }
 #header-right .wsite-social { vertical-align: middle; margin: 6px 0 6px 10px; padding: 0; }

 #header-right .search { padding-right: 0 !important; margin: 0; }
 #header-right .wsite-search { margin: 5px 0 5px 15px; }
 #header-right .wsite-search .wsite-search-input { width: 156px; height: 15px; border: none; padding: 6px 7px 6px 8px !important; background: url(/img/input-bg.png?196561) no-repeat; }
 #header-right .wsite-search .wsite-search-button { position: relative; width: 32px; height: 29px; color: #434343; font-size: 12px; border: none; margin: 0; padding: 0; background: url(/img/submit-bg.png?196561) no-repeat; }
 #footer { width: 920px; color: #666666; font-size: 12px; text-align: right; padding: 30px 20px 30px 20px; }
 #footer div.paragraph, #footer blockquote {font-size:12px;}
 #footer p, #footer blockquote {font-size:12px;}
 .wsite-footer { margin-bottom: 15px; }
 #footer h2 { font-size:18px; border-bottom:1px solid #ccc; }
 .wsite-form-container { margin-top:0px !important; text-align:left !important; }
 .wsite-footer .wsite-form-label { font-size: 1em !important; padding: 5px 0 2px 0 !important; }
 .wsite-footer .wsite-form-field { width:290px !important; }
 .wsite-footer .form-radio-container { font-size:1em !important; }
 .wsite-footer .wsite-form-input { font-size: 1em !important; width: 100% !important; }
 .wsite-footer .form-select { width: 100% !important; }
 .no-header-page #banner { width: 920px; height: 10px; padding: 7px 0 1px 0; margin: 0 0 10px 0; overflow: hidden; background: url(/img/banner-landing-bg.jpg?196561) bottom repeat-x; }
 .tall-header-page .wsite-header { width: 920px; height: 266px; background: url(/img/banner-tall.jpg?196561) no-repeat; }
 .short-header-page .wsite-header { width: 920px; height: 146px; background: url(/img/banner-short.jpg?196561) no-repeat; }
 .landing-page #banner { width: 920px; min-height: 270px; margin: 12px 0 20px 0; background: url(/img/banner-landing-bg.jpg?196561) bottom repeat-x; overflow: hidden; display: inline-block; display: block; }
 .landing-page .wsite-header { width: 500px; height: 254px; background: url(/img/banner-landing.jpg?196561) no-repeat; }
 #banner-left { float: left; width: 500px; height: 254px; }
 .landing-banner-outer { display: table; #position: relative; overflow: hidden; }
 .landing-banner-mid { #position: absolute; #top: 50%; display: table-cell; vertical-align: middle; }
 .landing-banner-inner { #position: relative; #top: -50%; }
 #bannerright { float: left; width: 355px; height: 254px; padding: 0 25px 0 40px; }
 #bannerright h2 { font-size: 30px; padding: 0; line-height: 1; }
 #bannerright div.paragraph { color: #878686; font-size: 16px; line-height: 130%; padding: 20px 0; }
 #bannerright p { color: #878686; font-size: 16px; line-height: 130%; padding: 20px 0; }
 #bannerright .wsite-button { margin: 0px; }
 .splash-page .wsite-header { width: 502px; height: 136px; margin: 0 0 10px 0; background: url(/img/banner-splash.jpg?196561) no-repeat; }
 .splash-page .title { width: 520px; background: url(/img/header-splash-bg.jpg?196561) bottom no-repeat; }
 .splash-page #wrapper { width: 540px; margin: 0 auto; }
 .splash-page .title { width: 540px; }
 .splash-page #header { width: 540px; }
 .splash-page #content { width: 502px; padding: 10px 18px 25px 18px; }
 .splash-page #banner { width: 502px; padding: 0 !important; margin: 0 !important; }
 .splash-page #footer { width: 500px; padding-left: 20px; padding-right: 20px; background: url(/img/footer-splash-bg.jpg?196561) top no-repeat; }
 .wsite-form-label { display: inline-block; color: #474747; font-size: 13px; font-weight: bold; padding: 10px 0 8px 0; }
 .form-radio-container { color: #474747; font-size: 13px; }
 .wsite-form-input, .wsite-search-element-input { background: #fff; color: #535353; border: 1px solid #d3d3d3; -moz-border-radius: 3px; border-radius: 3px; font-size:12px; }
 .form-select { width: 380px; color: #535353; background: #fff; border: 1px solid #d3d3d3; -moz-border-radius: 3px; border-radius: 3px; }
 .wsite-button { color: #fff !important; height: 34px; display: inline-block; font-size: 12px; border: none; font-weight: bold; text-decoration: none; text-transform: uppercase; padding: 0 10px 0 0; background: url(/img/button_small_darkgrey.png?196561) no-repeat 100% -105px; text-shadow:0 -1px 0 rgba(0,0,0,0.9); }
 .wsite-button-highlight { background-image: url(/img/button_small_grey.png?196561); }
 .wsite-button-highlight .wsite-button-inner { background-image: url(/img/button_small_grey.png?196561); }
 #content .blog-post .blog-header h2.blog-title a { font-family: LucidaSans, arial, sans-serif; font-size: 24px; line-height: 1.5em; color: #333; }

div.paragraph ul, div.paragraph ol { padding-left: 25px !important; margin: 5px 0 !important; overflow:hidden; }
div.paragraph li { padding-left: 5px !important; margin: 3px 0 0 !important; }
div.paragraph ul, div.paragraph ul li { list-style: disc outside !important; }
div.paragraph ol, div.paragraph ol li { list-style: decimal outside !important; }
.active{
 text-align: center;
 font-weight: bold;
 background: #e9eae5;
 border-radius: 4px;
}
#navigation{
 margin: 20px;
}